---
title: RedSeed API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  
  - <a href='https://www.redseed.com/about-us/terms-and-conditions'>Terms and conditions</a>

includes:
  # - clients.md.erb
  
  - users.md
  - locations.md
  # - user_roles.md.erb
  # - user_identities.md.erb
  - courses.md
  - training.md
  - pathways.md
  - engagement.md
  - resources.md
  # - reports.md.erb
  - webhooks.md
  - errors.md

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Kittn API
---

# Introduction

Welcome to the RedSed LMS API Reference. You can use our API to access RedSeed API endpoints, which can get information on your users, training, courses and more.

You can view code examples in the dark area to the right.



# Authentication

> Note the authorization header below.

```shell
curl "https://api.redseed.me/api/v0/<endpoint>" \
  --header 'Accept: application/json' \
  --header 'Authorization: Bearer <YOUR_API_KEY>' \
  --header 'Content-Type: application/json'
```

> Make sure to replace `<YOUR_API_KEY>` with your API key.

RedSeed uses API keys to allow access to our API. You can request a new RedSeed API key by contacting <a href='https://support.redseed.me'>RedSeed Support</a>.

RedSeed expects for the API key to be included in all API requests to the server in a header that looks like the following:

`Authorization: Bearer <YOUR_API_KEY>`

<aside class="notice">
You must replace <code>YOUR_API_KEY</code> with your personal API key.
</aside>

